.Listmenu{
    overflow: scroll;
    width: 50%;
    height: 300px;
    margin-left: 300px;
    margin-top: 80px;
}
@media(max-width:500px){
    .Listmenu{
        margin-left:20px;
        width: calc(100% - 50px);
    }
}