.tool{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blueviolet;
    height: 60px;

}
.tool a{
    color: white;
    text-decoration: none;
}
@media (max-width:499px){
    .tool{
        display:none;
    }
}