.Toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blueviolet;

}
.Toolbar a{
    color: white;
    text-decoration: none;
}
@media(max-width:500px){
    
}