.singleorder{
    width: 50%;
    height:200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #eeee;
    background-color: cornsilk;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 10px;

}
@media(max-width:500px){
    .singleorder{
        margin-left: 100px;
    left: 100px;
    }
}