.Loginform {
    width: 400px;
    height: 300px;
    
}
@media (max-width:500px){
 .Loginform{
     width: 200px;
     height: fit-content;
 }
}
.Buttons{
    color: white;
    text-decoration: none;

}
.google{
  margin-left: 100px;
} 