.App {
  /* text-align: center; */
 
  background-image: url('https://images.creativemarket.com/0.1.0/ps/4316145/1820/1213/m1/fpnw/wm1/rcok8ws2eic72pv8fbqteyfb3whj3yt6043e4sgha6p9asmju6hsmfqfoqlpual1-.jpg?1524052240&s=d11d226a0f2af2733ce456f89553d684');
  background-size: cover;
  position: fixed;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
  opacity: 1;

}


